import pytz

from pathlib import Path
from typing import List


@dataclass
class Config:
    token: str = '22:aa-F-6eNoKY65R-omFA'
    admin: int = 1245
    conn_str: str ='sqlite:///./db/budget.sqlite'
    migration_script_location: Path = Path(__file__).parent / 'migrations'
    alembic_config_path: Path = Path(__file__).parent / 'alembic.ini'
    tz = pytz.timezone('Asia/Yerevan')
    last: int = 10
    replenishment_name: str = '_replenishemnt'


config = Config()
